pandas==1.5.0
polars==0.17.5
duckdb==0.7.1 
fastapi==0.95.1
uvicorn==0.21.1 
pyyaml==6.0
python-multipart==0.0.6
pyarrow==11.0.0
openpyxl==3.0.10
lxml==4.9.1
xlsx2csv==0.8.1
SQLAlchemy==1.4.23
